
$page-width: 1920px;
$unit-height: 240px;
$metric-padding-horizontal: 24px;
$metric-margin-horizontal: 10px;
$metric-padding-vertical: 24px;
$metric-margin-vertical: 10px;
$metric-border-width: 2px;
$total-metric-overhead: 2 * ($metric-padding-horizontal + $metric-margin-horizontal + $metric-border-width);

.MetricContainer-sm {
  display: inline-block;
  margin: $metric-margin-vertical $metric-margin-horizontal;
  padding: $metric-padding-vertical $metric-padding-horizontal;
  max-width: calc((#{$page-width} / 4) - #{$total-metric-overhead});
  width: calc(25% - #{$total-metric-overhead});
  height: $unit-height;
  border: $metric-border-width solid #EEBB78;
  border-radius: 8px;
  flex-grow: 1;
  flex-shrink: 1;
}

.MetricContainer-md {
  display: inline-block;
  margin: $metric-margin-vertical $metric-margin-horizontal;
  padding: $metric-padding-vertical $metric-padding-horizontal;
  max-width: calc((#{$page-width} / 2) - #{$total-metric-overhead});
  width: calc(50% - #{$total-metric-overhead});
  height: $unit-height;
  border: $metric-border-width solid #78E6EE;
  border-radius: 8px;
  flex-grow: 1;
  flex-shrink: 1;
}

.MetricContainer-lg {
  display: inline-block;
  margin: $metric-margin-vertical $metric-margin-horizontal;
  padding: $metric-padding-vertical $metric-padding-horizontal;
  max-width: calc(#{$page-width} - #{$total-metric-overhead});
  width: calc(100% - #{$total-metric-overhead});
  height: $unit-height;
  border: $metric-border-width solid #EE78AB;
  border-radius: 8px;
  flex-grow: 1;
  flex-shrink: 1;
}
