
.SimpleMetric-title {
  text-align: start;
  font-weight: bold;
  font-size: 32px;
}

.SimpleMetric-subtitle {
  margin: 8px 0;
  text-align: start;
  font-weight: normal;
  color: #8c8c8c;
  font-size: 18px;
}

.SimpleMetric-value {
  margin: 24px 0;
  text-align: center;
  font-weight: bolder;
  font-size: 64px;
}
